# Node.js / JavaScript
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db

# Data files (if too big)
*.csv
*.xlsx

# Secrets / credentials
*.env
.gitignore
models/if_model_live.joblib
models/label_encoder.joblib
models/rf_model.joblib
models/if_model.joblib
venv/Lib/site-packages/contourpy-1.3.3.dist-info/INSTALLER
venv/Lib/site-packages/contourpy-1.3.3.dist-info/LICENSE
venv/Lib/site-packages/contourpy-1.3.3.dist-info/METADATA
.gitignore
venv/Lib/site-packages/contourpy-1.3.3.dist-info/RECORD
venv/Lib/site-packages/contourpy-1.3.3.dist-info/WHEEL
venv/Lib/site-packages/cycler-0.12.1.dist-info/INSTALLER
venv/Lib/site-packages/cycler-0.12.1.dist-info/WHEEL
